/* stylelint-disable selector-list-comma-newline-after */
body {
  font-family:' Helvetica Neue','Helvetica','Arial',sans-serif; 
  color: #444444;
  background-color: #FAFAFA;
}

.line {
  fill: none;
  stroke: rgb(102, 102, 102);
  stroke-width: 1.6px;
}

h3 { line-height: 25px; font-weight: 700;} 
h5, .h5 { line-height: 25px; font-weight: 700;} 

h6, .h6 { line-height: 20px; font-size: 1.24rem; font-weight: 400;} 

.h5-light { line-height: 22px; font-weight: 200;} 

p { line-height: 22px; font-size: 1.1rem; font-weight: 200; color: #495057;} 

.p-bold { line-height: 16px; font-size: 0.98rem; font-weight: 700;}

.bottom-line {
    /* line-height: 1; */
    border-bottom: 1px solid #cacaca;
  }

  .blog-header-logo {
    font-family: 'UnifrakturCook', cursive, Georgia, "Times New Roman", serif;
    font-size: 1.6rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }

  .timesStyle {font-family: "Playfair Display", Georgia, "Times New Roman", serif;}

  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  th { text-align: left; }
  th, td { padding: 0 1em 0.5ex 0;}
  th.center, td.center { text-align: center; }
  th.num, td.num { text-align: right; }

  .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }