/* stylelint-disable selector-list-comma-newline-after */
body {font-family:' Helvetica Neue','Helvetica','Arial',sans-serif; color: #444444; background-color: #FAFAFA;}
.blog-header-logo { font-family: 'UnifrakturCook', cursive, Georgia, "Times New Roman", serif; font-size: 1.6rem;}
.make_bold {font-weight: 400;}
.make_small {font-size: 0.8rem; line-height: 0.9rem;}
.text_height {line-height: 1rem;}
/* .article_title {} */

.heading {font-size: 1rem; color: #444444; font-weight: 700; text-align: center; border-top: 2px solid #FAFAFA !important; border-bottom: 1px solid #444444 !important;}
.no-line {border-bottom: 2px solid #FAFAFA !important; border-top: 2px solid #FAFAFA !important;}

tr th {font-weight: 400; font-size: 0.9rem;}
th, td { text-align: left; padding: 0 1em 0.5ex 0;}
th.center, td.center { text-align: center; }
th.num, td.num { text-align: right; }
.table-narrow {table-layout: fixed; word-wrap: break-word; width: 12rem; line-height: 1rem;}
.table-super-narrow {table-layout: fixed; word-wrap: break-word; width: 4.6rem; line-height: 1rem;}
.table td {vertical-align: middle;}
#monthly_selection:hover {box-shadow: 0 4px 20px rgba(0,0,0,0.3); transition: box-shadow 0.3s ease-in-out;}
.api-details:hover {box-shadow: 4px 4px 20px rgba(0,0,0,0.5); transition: box-shadow 0.3s ease-in-out;}
.tomato {color: tomato;}
.mouse-text {font-weight: 400; font-size: 0.2rem; z-index: 99; padding: 6; background-color: #5d7293; color: #FAFAFA;}
/* .bottom-line {border-bottom: 1px solid #cacaca;}
.tableFixHead thead tr {display:block;} */

.content {padding: 16px;}
.sticky {position: fixed;top: 0;width: 100%;}
.sticky + .content {padding-top: 102px;}

a p {font-size: 0.98rem; line-height: 1.2rem; padding-top: 0.4rem; font-weight: 400;}
.line-height {line-height: 1rem; }
h3 { line-height: 25px; font-weight: 700;} 
h5, .h5 { line-height: 25px; font-weight: 700;} 
h6, .h6 { line-height: 20px; font-size: 1.24rem; font-weight: 400;}
.h5-light { line-height: 22px; font-weight: 200;} 
.p-bold { line-height: 16px; font-size: 0.98rem; font-weight: 700;}

/* .tooltip {position:absolute; background-color:  rgba(255,255,255,0.3); border: solid 2px #444444; border-radius: 5px; padding: 5px; z-index: 99;} */

.form-control-sm {height: calc(1.5em + .5rem + 2px); padding: .25rem .6rem .5rem .6rem; font-size: .875rem; line-height: 1.5; font-size: 1.1rem; color: #444444; border-radius: .2rem; border: 2px solid #444444;}
.tick text {padding-top: 1rem; font-size: 0.17rem;}
.line {fill: none; stroke:#5d7293; stroke-width: 0.036rem;}

.text-dark img {min-height: 100%; min-width: 100%; max-height: 13rem !important; background-position: center center; background-repeat: no-repeat;}
.overlay {fill: none;pointer-events: all;}
.focus circle {fill: steelblue;}
.focus text {font-size: 14px;}

.display-4 {font-size: 2.5rem;}
.timesStyle {font-family: "Playfair Display", Georgia, "Times New Roman", serif;}

  @media (min-width: 768px) {
    .display-4 { font-size: 3rem;}
    .h-md-250 { height: 250px; }
  }
  @media (max-width: 767px) {
  .over_flow {overflow-x: auto;}
  .over_flow::-webkit-scrollbar {width: .7rem;}
  .over_flow::-webkit-scrollbar-thumb {background-color: #5d7293;}
  .over_flow::-webkit-scrollbar-track {background-color: #d5dfee;}
}