<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/blog.css') }}">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap" rel="stylesheet">

    <!-- D3 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"  charset='utf-8'></script>

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <title>Tag Matter</title>
  </head>
  <body data-gr-c-s-loaded="true" cz-shortcut-listen="true">

    <div class="container">
      <header class="blog-header bottom-line pt-3 pb-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4"></div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="https://tag-matters.herokuapp.com/">Tag Matters</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <!-- <a class="text-muted" href="#" aria-label="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
            </a> -->
            <a class="btn btn-sm text-muted" href="https://github.com/rimhoho/Monthly-Frequency-of-NYTimes-Tag">View the code</a>
          </div>
        </div>
      </header>
      <!-- <div class="p-1 mt-1 bg-dark"></div> -->

      <div class="container px-0">
        <div>
          <h5 class="mt-5 h5-light"><span class="h5">New York Times</span> publishes around 250 articles per day with only a fraction of those articles making it to the homepage.
          <span class="h5">Judiciously, NYTimes uses tags👏</span><span class="h5-light"> to help boost relevance on the site search and send a signal to external search engines, as well as inform content recommendations for readers.</span></h5>
          <div class="py-2">
            <h5>But, does the tag capture current concerns in world? <span class="pl-2 light-grey">YES.</span></h5>
          </div>
        </div>
        
        <div class="d-flex flex-column align-items-center px-md-4 pt-1 mt-4 bg-white border pt-4">
          <div class="d-flex align-items-center">
            <h5 class="m-3 text-center">Top 10 Tag in NYTimes with Google Search and Youtube </h5>
            <select class="form-control-sm shadow-sm bg-light" id="monthly_selection"></select>  
          </div>
          {% for error in errors %}
            <h6 class="text-center text-muted">{{ error }}</h6>
          {% endfor %}
            <div class="d-flex flex-row col-md-12 px-0 offset-md-0 over_flow tableFixHead mt-3">
              <div class="table-wrap col-9">
                <table class="times_table table table-hover col-md-12"></table>
                <div class="ml-2 make-small py-4 border-top border-secondary">
                  <p class= "mb-2"><span class="tomato">Orange color </span>highlights the most popular date in Google Searches, and the most active comments, likes, views on Youtube videos.</p>
                  <p>Time Range: June, 2019 - June, 2020 (In the last 12 months)<span class="p-2">|</span>Resources: <a href="https://developer.nytimes.com/" target="_blank" class="text-"> New York Times</a>, <a href="https://pypi.org/project/pytrends/" target="_blank">Google Search</a>, and <a href="https://praw.readthedocs.io/en/latest/index.html" target="_blank">Youtube</a></p>
                </div>
              </div> 
              <div class="col-3 overflow-hidden flex-md-row p-3 position-relative" id="more_infos"></div>   
          </div>
        </div>

        <div class="d-flex flex-column px-md-4 pt-4 mt-5 bg-dark border">
          <h5 class="text-center pt-2 text-white">Findings</h5>
          <div class="row mt-2">
            <div class="col-md-12 pb-2">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-350 position-relative">
                  <div class="col p-4 d-flex flex-column position-static bg-white">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="d-inline-block mb-1 h5-light">☝️ A peak of the Google Search Trends graph explains that people search the term the most at that time during the entire period. Most of New York Times tags on each months seem that the peak point of Google Search Trends graph indicates at right side of the X axis, relatively recent days. 
                          <span class="tomato">So, yes, tags are capturing the most current interest/concern of the world.</span></h5>
                      </div>
                      <ul class="pl-3">
                        <li>Black People | Police Brutality on 2020-06: These tags are quite general terms, but they got the highest searches on Google Searches on 5 May 2020.</li>
                        <li>Mass Shootings | Homicides on 2019-08: These tags can be also seen other period but the peak point of Google Search Trends displays right side on 8 August 2019.</li>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-12 pb-2">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-350 position-relative">
                  <div class="col p-4 d-flex flex-column position-static bg-white">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="d-inline-block mb-1 h5-light">☝️ 563 of tags has been appeared every single months. Interestingly, <span class="tomato">specified period tags*</span> are shown that there have always exposed to public not only those specific periods.</h5>
                      </div>
                      <ul class="pl-3">
                        <li>General terms: 'Global Warming', 'Prices (Fares, Fees and Rates)', 'Computer Security', 'Depression (Mental)'</li>
                        <li>Countries' name: 'China', 'Iran', 'North Korea', 'Russia'</li>
                        <li><span class="tomato">Specified period tags</span>: 'Hong Kong Protests (2019)', 'Civil Rights Movement (1954-68)', 'Tax Cuts and Jobs Act (2017)'</li>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column px-md-4 pt-4 mt-4 bg-white border">
          <div class="container pb-3 mt-2">
            <h5 class="mb-3 text-center">Tags Tracking Analytics</h5>
            <h5 class="py-2 h5-light">To understand how monthly tags in NYTimes play the role and how people react about the topic by looking at other media platforms, the research has applyed Google Search Trends API that has search interest indices over time and also looked up the most relavant Youtube videos.</h5>
            <div class="row mt-4">
              <div class="col-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-350 position-relative">
                    <div class="col p-4 d-flex flex-column position-static bg-white">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="d-inline-block mb-1">New York Times</h6>
                            <div class="d-flex flex-column align-items-center">
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
                                <small class="card-text">Main</small>
                            </div>
                        </div>
                        <span class="p-bold text-muted">Timeframe:</span><p>Jun, 2019 ~ Jun, 2020</p>
                        <span class="p-bold text-muted">Question:</span> <p  class="pt-1 line-height">What is the most Frequently used tags on each month?</p>
                        <a href="https://developer.nytimes.com/" target="_blank" class="btn btn-sm my-2 my-sm-0 mr-3 btn-dark api-details" ><strong>API Details</strong></a>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-450 position-relative">
                    <div class="col p-4 d-flex flex-column  bg-white">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="d-inline-block mb-0">Google Search trends</h6>
                            <div class="d-flex flex-column align-items-center">
                                <!-- <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
                                <small class="card-text">Major</small> -->
                            </div>
                        </div>
                        <span class="p-bold text-muted">Timeframe:</span><p>Jun, 2019 ~ Jun, 2020</p>
                        <span class="p-bold text-muted">Question: </span><p class="pt-1 pb-3 line-height">How many times a tag has been googled?</p>
                          <!-- <strong>Trend Index: </strong><small>The Trend Index</small> -->
                        <a href="https://pypi.org/project/pytrends/" class="btn btn-sm my-2 my-sm-0 btn-dark api-details" target="_blank"><strong>API Details</strong></a>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-450 position-relative">
                    <div class="col p-4 d-flex flex-column bg-white">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="d-inline-block mb-0">Youtube</h6>
                            <div class="d-flex flex-column align-items-center">
                                <!-- <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
                                <small class="card-text">Major</small> -->
                            </div>
                        </div>
                        <span class="p-bold text-muted">Timeframe: </span><p>May ~ Jun, 2020</p>
                        <span class="p-bold text-muted">Question: </span><p class="pt-1 pb-3 line-height">How many times a tag has been discussed?</p>
                          <!-- <strong>Trend Index: </strong><small>The Trend Index</small> -->
                        <a href="https://praw.readthedocs.io/en/latest/index.html" class="btn btn-sm my-2 my-sm-0 btn-dark api-details" target="_blank"><strong>API Details</strong></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-3 pb-2">
            <div class="d-flex align-items-center justify-content-between pb-1">
              <strong>Selected Variables from APIs</strong>
              <small class="text-muted">Reddit API offers a limited maxresult in search.list, so it has been decided not to apply.</small>
            </div>
            <img src="{{ url_for('static', filename='images/api_diagram.png') }}" alt="" class="pt-2 pb-4" width="100%" height="100%">
            <div>
            </div>
          </div>
        </div>
        <footer class="py-5">© 2020, Hyerim Hwang</footer>
      </div> 
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
  </body>
</html>
